.profile__subline {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 8px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 470px;
}

@media (max-width: 650px) {
    .profile__subline {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 0 0 0 22px;
        max-width: 200px;
    }
}
