.popup__close {
    background-image: url(../../../images/Close\ Icon.svg);
    background-size: cover;
    width: 32px;
    height: 32px;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close:hover {
    opacity: 0.5;
}

@media (max-width: 550px) {
    .popup__close {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}