.profile__avatar {
    position: relative;
    border-radius: 60px;
}

.profile__cursor {
    top: 45px;
    left: 45px;
    position: absolute;
    width: 26px;
    height: 26px;
    opacity: 0;
    background-size: contain;
    background-position: center;
    background-image: url(../../../../src/images/profile-vector.svg);
}

.profile__avatar:hover .profile__cursor {
    opacity: 1;
}