.popup__container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 90px auto;
}

@media (min-width: 700px) and (max-width: 1000px) {
    .popup__container {
        max-width: 550px;
        max-height: 400px;
    }
}

@media (max-width: 699px) {
    .popup__container {
        max-width: 350px;
        max-height: 350px;
    }
}